/*.navbar-nav {
	left1: 100px;
}*/

/*.p-graph {
	font-weight: 300;
}
*/
/*.lead {
	font-weight: 350 ;
}
*/

/*.light-weight {
	font-weight: 300;
}*/

/*.no-padding {
	padding: 0;
}*/

.jumbotron {
    background: #F7F9FA;
    padding: 2em 2em 4em 2em;
}

.navbar {
    background: #FFF;
}

/*.header-logo {
    padding: 0px;
}*/

.display-o {
    margin-left: 0.2em;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0.6em;
}

.lead {
    margin-bottom: 0;
    /*margin-left: 0.2em;*/
    /*display: inline-block;?*/
}

.mb-add {
    margin-bottom: 1em;
}


.parent {
    text-align: center;
}

.center-element {
    display: inline-block;
}